footer {
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    margin-top: 300px;
}

footer .social {
    padding-top: 25px;
}

footer .social a .social-icons {
    color: #ffffff;
}

footer .social-github {
    margin-right: 5px;
}

footer .social-linkedin {
    margin-left: 5px;
}

footer .copyright {
    text-align: center;
    color: white;
    padding: 10px 0px 20px;
    font-size: 18px;
}

a {
    text-decoration: none !important;
    padding-bottom: 10px;
}